// SCSS correspondiente a presentacion

.home-intro-container {

  height: 300px;
  width: 100%;
  background-color: #9a5f45;
  display: flex;
  justify-content: center;
  align-items: center;

  .home-intro-card-left {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 200px;
      height: 200px;
      border: 50%;
    }

  }

  .home-intro-card-right {

  }
}
