<%# HTML correspondiente a cration card %>

<div class="creations-card-container">
  <section class="creation-card-title">
    <h2>Les créations du moment…</h2>
  </section>
  <div class="creation-cards-section">
    <section>

    </section>

  </div>
</div>
