<%# HTML correspondiente a cration card %>

<div class="creations-card-container">
  <section class="creation-card-title">
    <h2>Les créations du moment…</h2>
  </section>
  <div class="creation-cards-section">
    <section class="creation-card">
      <section class="creation-card-img">
        <img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1739360013/Art%20et%20Matiere/WhatsApp_Image_2025-02-09_at_15.24.31_s7yx15.jpg" alt="">
      </section>
      <section class="creation-card-title">
        <h2>Coussin</h2>
      </section>

    </section>

  </div>
</div>
