<%# HTML correspondiente a la intro de la homepage %>

<div class="home-intro-container">

  <div class="home-intro-card">

    <section class="home-intro-card-left">
      <img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1739360004/Art%20et%20Matiere/WhatsApp_Image_2025-02-09_at_15.22.55_1_w5ywuj.jpg" alt="">

    </section>
    <section class="home-intro-card-right">

    </section>

  </div>



</div>
