<%# HTML correspondiente a la intro de la homepage %>

<div class="home-intro-container">

  <div class="home-intro-card">

    <section class="home-intro-card-left">

    </section>
    <section class="home-intro-card-right">

    </section>

  </div>



</div>
