<%# HTML correspondiente al main %>

<main class="main">

  <div class="main-card-buttons">
    <a href="">• Verre</a>
    <a href="">• Carton</a>
    <a href="">• Papier de soie</a>
    <a href="">• Papier mâché</a>
    <a href="">• Fils</a>
  </div>


</main>
