<%# HTML correspondiente al main %>

<main class="main">

  <div class="main-card-buttons">
    <a href="">• Verre</a>
    <a href="">• Carton</a>
    <a href="">• Papier de soie</a>
    <a href="">• Papier mâché</a>
    <a href="">• Fils</a>
  </div>
  <div class="main-card-container">
    <div class="main-card-left">
      <a href="">
        <img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1739273552/Art%20et%20Matiere/image0_uvnqc3.jpg" alt="">
      </a>
    </div>
    <div class="main-card-right">
      <div class="main-card-right-top">
        <a href="">
          <img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1739273552/Art%20et%20Matiere/image0_uvnqc3.jpg" alt="">
        </a>
      </div>

      <div class="main-card-right-bottom">

      </div>


    </div>

  </div>


</main>
