<%# HTML correspndiente a la navbar %>

<nav class="navbar">
  <div class="navbar-left-card">
      <h2>Lorem ipsum dolor sit amet, </h2>
  </div>

  <div class="navbar-right-card">
    <ul>
      <li><a href="#">Text 1</a></li>
      <li><a href="#">Text 3</a></li>
      <li><a href="#">Text 3</a></li>
    </ul>

</nav>
