<%# HTML correspndiente a la navbar %>

<nav class="navbar">
  <div class="navbar-left-card">
      <h2>Lorem ipsum dolor sit amet, </h2>
  </div>

  <div class="navbar-right-card">
      <a href="">Presentacon</a>
      <a href="">Contact</a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a></li>
      <a href="#"><i class="fa-regular fa-user"></i></a></li>
      <a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
  </div>

</nav>
