<%# HTML correspondiente a postal cards %>

<div class="postal-container">
  <section class="postal-cards-container">

    <%# carta 1 %>
    <section class="postal-card">
      <a href="">

      </a>
    </section>

    <%# carta 2 %>
    <section class="postal-card">
      <a href="">

      </a>
    </section>

    <%# carta 3 %>
    <section class="postal-card">

    </section>

  </section>

</div>
