<%# HTML correspondiente a home %>

<div class="home-container">

  <%= render 'shared/header' %>

  <%= render 'shared/main' %>

  <%= render 'shared/creations_card' %>

  <%= render 'pages/home_intro' %>




</div>
