// SCSS correspondiente a business cards

.business-card-container {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
  background-color: #f3d2c3;

  .business-cards {
    margin: 8px 80px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .business-card-wp {
      height: 200px;
      width: 300px;
      border: 2px solid #9a5f45;
      margin-right: auto;


    }

    .business-card-livraison {
      height: 200px;
      width: 300px;
      border: 2px solid #9a5f45;
    }

    .business-card-social-media {
      height: 200px;
      width: 300px;
      border: 2px solid #9a5f45;
      margin-left: auto; // Empuja esta tarjeta a la derecha
    }
  }




}
