// SCSS correspondiente a business cards

.business-card-container {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
  background-color: #f3d2c3;

  .business-cards {
    margin: 8px 80px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .business-card-wp {
      height: 200px;
      width: 360px;
      border: 1px solid #9a5f45;
      margin-right: auto;

      h2 {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #9a5f45;

      }

      .button-wp {
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          height: 50%;
          width: 50%;
          background-color: #e6b7a3;
          color: white;
          border: none;
          border-radius: 30px;
          cursor: pointer;
          transition: 0.3s;

          &:hover {
            background-color: #9a5f45;
            color: #f3d2c3;
          }
        }

      }


    }

    .business-card-livraison {
      height: 200px;
      width: 360px;
      border: 1px solid #9a5f45;
    }

    .business-card-social-media {
      height: 200px;
      width: 360px;
      border: 1px solid #9a5f45;
      margin-left: auto; // Empuja esta tarjeta a la derecha
    }
  }




}
