// SCSS correspondiente a creations card

.creations-card-container {
  margin: 0 80px;


  .creation-card-title {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      color: #9a5f45;
      font-family: "Dancing Script", serif; // Aplicando la nueva fuente
      font-weight: 600;
      font-size: 4vw;

    }

  }

  .creation-cards-section {
    margin: 0 40vh;
    display: flex;
    padding: 16px;

    .creation-card {
      height: 400px;
      width: 25%;
      background-color: #ffffff;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
      margin: 0 8px;


      // imagen posee 50% del tamaño de la tarjeta
      .creation-card-img {
        height: 50%;
        overflow: hidden;
        margin: 16px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;

        }

      }

      // titulo posee 25% del tamaño de la tarjeta
      .creation-card-title-article {
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
          color: #9a5f45;
        }

      }

      // descripcion precio 10% del tamaño de la tarjeta
      .creation-card-price {
        height: 5%;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          color: #9a5f45;
        }

      }

      // boton posee 15% del tamaño de la tarjeta
      .creation-card-button {
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          background-color: #9a5f45;
          color: #ffffff;
          border: none;
          padding: 8px 16px;
          border-radius: 4px;
          cursor: pointer;
        }

      }
    }
  }

}

@media screen and (min-width: 1025px) {

}

@media screen and (max-width: 1024px) {
  .creations-card-container {
    margin: 0 80px;


    .creation-card-title {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        color: #9a5f45;
        font-family: "Dancing Script", serif; // Aplicando la nueva fuente
        font-weight: 600;
        font-size: 4vw;

      }

    }

    .creation-cards-section {
      margin: 0 40vh;
      display: flex;
      padding: 16px;

      .creation-card {
        height: 400px;
        width: 25%;
        background-color: #ffffff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        margin: 0 8px;


        // imagen posee 50% del tamaño de la tarjeta
        .creation-card-img {
          height: 50%;
          overflow: hidden;
          margin: 16px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;

          }

        }

        // titulo posee 25% del tamaño de la tarjeta
        .creation-card-title-article {
          height: 20%;
          display: flex;
          justify-content: center;
          align-items: center;

          h3 {
            color: #9a5f45;
          }

        }

        // descripcion precio 10% del tamaño de la tarjeta
        .creation-card-price {
          height: 5%;
          display: flex;
          justify-content: center;
          align-items: center;

          p {
            color: #9a5f45;
          }

        }

        // boton posee 15% del tamaño de la tarjeta
        .creation-card-button {
          height: 10%;
          display: flex;
          justify-content: center;
          align-items: center;

          button {
            background-color: #9a5f45;
            color: #ffffff;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            cursor: pointer;
          }

        }
      }
    }

  }
}

@media screen and (max-width: 768px) {
  .creations-card-container {
    margin: 8px;
    width: 100%;

    .creation-card-title {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;


      h2 {
        color: #9a5f45;
        font-family: "Dancing Script", serif; // Aplicando la nueva fuente
        font-weight: 600;
        font-size: 4vw;

      }

    }

    .creation-cards-section {
      width: 100%;
      margin: 0 8px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; // Centra las tarjetas en la línea
      padding: 16px;

      .creation-card {
        height: 50%;
        width: 47%; // 48% para que haya espacio entre las tarjetas
        background-color: #ffffff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        margin: 8px;

        .creation-card-img {
          height: 50%;
          overflow: hidden;
          margin: 16px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .creation-card-title-article {
          height: 20%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #9a5f45;
          font-family: "Dancing Script", serif;
          font-weight: 600;
          font-size: 2vw; // Ajuste de tamaño del texto

          h3 {
            color: #9a5f45;
          }
        }

        .creation-card-price {
          height: 5%;
          display: flex;
          justify-content: center;
          align-items: center;

          p {
            color: #9a5f45;
          }
        }

        .creation-card-button {
          height: 10%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 8px;


          button {
            background-color: #9a5f45;
            color: #ffffff;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            cursor: pointer;
          }
        }
      }
    }


  }
}

@media screen and (max-width: 480px) {
  .creations-card-container {

    .creation-card-title {

      h2 {

      }

    }

    .creation-cards-section {

      .creation-card {

        // imagen posee 50% del tamaño de la tarjeta
        .creation-card-img {

          img {

          }

        }

        // titulo posee 25% del tamaño de la tarjeta
        .creation-card-title-article {

          h3 {

          }

        }

        // descripcion precio 10% del tamaño de la tarjeta
        .creation-card-price {


          p {

          }

        }

        // boton posee 15% del tamaño de la tarjeta
        .creation-card-button {

          button {

          }

        }
      }
    }

  }

  .creations-card-container {
    margin: 8px;
    width: 100%;

    .creation-card-title {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;


      h2 {
        color: #9a5f45;
        font-family: "Dancing Script", serif; // Aplicando la nueva fuente
        font-weight: 600;
        font-size: 4vw;

      }

    }

    .creation-cards-section {
      width: 100%;
      margin: 0 8px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; // Centra las tarjetas en la línea
      padding: 16px;

      .creation-card {
        height: 50%;
        width: 47%; // 48% para que haya espacio entre las tarjetas
        background-color: #ffffff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        margin: 8px;

        .creation-card-img {
          height: 50%;
          overflow: hidden;
          margin: 16px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .creation-card-title-article {
          height: 20%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #9a5f45;
          font-family: "Dancing Script", serif;
          font-weight: 600;
          font-size: 2vw; // Ajuste de tamaño del texto

          h3 {
            color: #9a5f45;
          }
        }

        .creation-card-price {
          height: 5%;
          display: flex;
          justify-content: center;
          align-items: center;

          p {
            color: #9a5f45;
          }
        }

        .creation-card-button {
          height: 10%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 8px;


          button {
            background-color: #9a5f45;
            color: #ffffff;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            cursor: pointer;
          }
        }
      }
    }


  }

}
