// SCSS correspondiente a creations card

.creations-card-container {
  height: 15vh;
  margin: 0 80px;

  .creation-card-title {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      color: #9a5f45;
    }

  }

  .creation-cards-section {
    margin: 0 80px;
    display: flex;
    padding: 16px;

    .creation-card {
      height: 400px;
      width: 25%;
      background-color: #ffffff;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
      margin: 0 8px;


      // imagen posee 50% del tamaño de la tarjeta
      .creation-card-img {
        height: 50%;
        overflow: hidden;
        margin: 16px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;

        }

      }

      // titulo posee 25% del tamaño de la tarjeta
      .creation-card-title {
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
          color: #9a5f45;
        }

      }

      // descripcion precio 10% del tamaño de la tarjeta
      .creation-card-price {
        height: 5%;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          color: #9a5f45;
        }

      }

      // boton posee 15% del tamaño de la tarjeta
      .creation-card-button {
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          background-color: #9a5f45;
          color: #ffffff;
          border: none;
          padding: 8px 16px;
          border-radius: 4px;
          cursor: pointer;
        }

      }
    }
  }

}
