// SCSS correspondiente a main

.main {
  margin: 0 80px;
  display: flex;
  flex-direction: column;

  .main-card-buttons {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3d2c3;

    a {
      margin: 0 8px;
      color: #e8997c;
      font-family: "Amatic SC", Sans-serif;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

  }

  .main-card-container {

    display: flex;

    .main-card-left {

    }

    .main-card-right {

    }

  }


}
