// SCSS correspondiente a la Navbar

.navbar {
  height: 10vh;
  width: 100%;
  background-color: #9a5f45;
  color: #e6b7a3;
  border: 1px solid black;

  display: flex;
  justify-content: space-between;

  .navbar-left-card {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-right-card {

    ul {

      display: flex;

      li {
        a {
          text-decoration: none;
          color: #e6b7a3;
        }
      }
    }
  }
}
