// SCSS correspondiente a la Navbar

.navbar {
  height: 9vh;
  width: 100%;
  background-color: #9a5f45;
  color: #e6b7a3;
  border: 1px solid black;

  display: flex;
  justify-content: space-between;

  .navbar-left-card {
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 16px;
      margin: 0 8px;
    }

  }

  .navbar-right-card {

    display: flex;
    margin: 0 8px;


    a {
      margin: 0 8px;
      color: #e8997c;
      font-family: "Amatic SC", Sans-serif;
      text-decoration: none;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

  }
}
