// SCSS correspondiente a postal cards

.postal-container {
  height: 500px;
  width: 100%;
  justify-content: center;
  align-items: center;

  .postal-cards-container {
    height: 100%;
    margin: 0 80px;
    border: 1px solid black;

  }

}
