// SCSS correspondiente a postal cards

.postal-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;

  .postal-cards-container {
    display: flex;
    flex-wrap: wrap; // Permite que las tarjetas se reorganicen
    justify-content: center;
    align-items: center;
    gap: 16px; // Espaciado uniforme
    max-width: 1200px;
    width: 100%;

    .postal-card {
      flex: 1 1 calc(33.333% - 16px); // 3 columnas en desktop
      max-width: 400px;
      overflow: hidden;
      transition: transform 0.8s ease-in-out;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

// Responsive para tablets
@media (max-width: 1024px) {
  .postal-cards-container {
    .postal-card {
      flex: 1 1 calc(50% - 16px); // 2 columnas en tablet
    }
  }
}

// Responsive para móviles
@media (max-width: 600px) {
  .postal-cards-container {
    .postal-card {
      flex: 1 1 100%; // 1 columna en móvil

      &:hover {
        transform: none; // Eliminar hover en móviles
      }
    }
  }
}


@media screen and (min-width: 1025px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}


@media screen and (max-width: 480px) {

}
